.lmj-categories-container {
display: flex;
justify-content: center;
margin-top: 20px;
align-items: center;
}

.lmj-categories-select {
    /* margin-top: 20px; */
    height: 35px;
    margin-right: 30px;
}

.lmj-categories-button {
    height: 35px;
}